.btn-primary
{
    background-color: #e24405;
    outline-color: white;
    border-color: white;
    color: white;
}

.btn-primary:hover
{
    background-color: #f5a742;
    
}

.btn-regular
{
    outline-color: #e24405;
    border-color: #e24405;
    color: #e24405;
}

.btn-regular:hover
{
    background-color: #fcd197;
    
}

body{
    text-align: center;
}