img {
    width: fit-content;
    height: 200px;
}



.btn-sm
{
   
    color: #e24405;
}

.btn-sm:hover
{
    color: #0c4b00;
    
}

.card-text
{
   
     display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  
     overflow: hidden;
}